In [1]:
import pandas as pd

1. What's the version of Pandas that you installed?

In [8]:
pd.__version__

'2.2.3'

In [2]:
laptop_data = pd.read_csv('./laptops.csv')
laptop_data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
laptop_data.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

2. How many records are in the dataset?

In [5]:
laptop_data.shape

(2160, 12)

3. How many (unique?) laptop brands are presented in the dataset?

In [7]:
len(laptop_data['Brand'].unique())

27

4. How many columns in the dataset have missing values?

In [10]:
laptop_data.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

5. What's the maximum final price of Dell notebooks in the dataset?

In [21]:
max(laptop_data[laptop_data["Brand"] == "Dell"]["Final Price"])

3936.0

6. Median value of Screen

In [46]:
import numpy as np

cleaned_screen = laptop_data[pd.notna(laptop_data["Screen"])]["Screen"]

print("Screen median: ", cleaned_screen.median())

Screen median:  15.6

Filling up null values with the mode of the variable

In [47]:
screen_mode = cleaned_screen.mode()

laptop_data["Screen"] = laptop_data["Screen"].fillna(screen_mode)

print("Screen median after imputation: ", laptop_data["Screen"].median())

Screen median after imputation:  15.6

7. Sum of Weights

In [54]:
X = laptop_data[laptop_data["Brand"] == "Innjoo"][["RAM", "Storage", "Screen"]].to_numpy()
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)

In [56]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [59]:
w = XTX_inv.dot(X.T).dot(y)
print("Sum of all the elements is ", sum(w))

Sum of all the elements is  91.2998806299555